.ui-igedit,.ui-widget .ui-igedit{background:#fff;font-size:1em;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}
.ui-igedit-container{box-sizing:border-box;display:inline-block}
.ui-igedit-input{box-sizing:border-box;float:left}
.ui-igedit-input::-ms-clear{display:none}
.ui-igeditor-button-area{box-sizing:border-box;float:right}
.ui-igedit-dropdown{box-sizing:border-box;float:left}
.ui-igedit-spinarea{box-sizing:border-box;float:left;display:inline}
.ui-igedit-cleararea{box-sizing:border-box;float:left;display:inline}
.ui-igedit-list{box-sizing:border-box}
.ui-igedit-listitem{box-sizing:border-box;display:block}
.ui-igtrialwatermark{width:160px;height:20px;background-image:url(../images/trial.png);opacity:.25;filter:alpha(opacity=25);-ms-filter:"alpha(opacity=25)";-khtml-opacity:.25;-moz-opacity:.25}