#tileExpenses
{
}
 
#tileIncome
{
    margin-left: 20px;
}
        
#tileNetWorth
{
}

#tileBudget
{
    margin-left: 20px;
}
        
#tileAssets
{
    display: none;
}

#tileLiabilities
{
    display: none;
}
